{% extends 'base.html' %}
{% block title %}Agenda | AmedicalPro{% endblock %}

{% block content %}
<div id="calendar"></div>

<!-- Modal Nueva Cita -->
<div id="citamodal" class="modal hidden">
  <div class="modal-card">
    <h3>Nueva cita</h3>
    <form id="citaForm">
      <label>RUT
        <input name="rut" required>
      </label>
      <label>Nombre
        <input name="nombre">
      </label>
      <label>Teléfono
        <input name="fono">
      </label>
      <label>Previsión
        <select name="prevision">
          <option value="Fonasa">Fonasa</option>
          <option value="Isapre">Isapre</option>
          <option value="Particular">Particular</option>
        </select>
      </label>
      <label>Prestación
        <select name="prestacion">
          <option>Consulta médica</option>
          <option>Procedimiento</option>
          <option>Cirugía menor</option>
        </select>
      </label>
      <label>Precio
        <input name="precio" type="number">
      </label>
      <label>Observaciones
        <textarea name="obs"></textarea>
      </label>

      <div class="actions">
        <button class="save azul">Guardar</button>
        <button class="confirm verde" type="button">Confirmar</button>
        <button class="cobrar amarillo" type="button">Cobrar</button>
        <button class="espera calipso" type="button">Espera</button>
        <button class="delete gris" type="button">Eliminar</button>
      </div>
    </form>
    <button id="modalClose" class="close">✖</button>
  </div>
</div>
{% endblock %}

